@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: calc(100vh - 70px);
    display: flex;
    font-family: 'Red Hat Display', sans-serif;
    padding-bottom: 70px;
}
button {
    cursor: pointer;
}

.container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 85%;
    grid-template-areas: 
    "title title"
    "stats stats"
    "content content";
    gap: 20px;

    header {
        grid-area: title;
        display: flex;
        padding-top: 20px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        i {
            font-size: 23px;
        }
    }

}

.stats {
    grid-area: stats;
    text-align: center;
    div {
        margin: 5px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
    }
    span {
        font-weight: 400;
    }
}

.library {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 30px;
    justify-items: center;
    padding: 15px;

    border-top: 1px solid red;
}
.book {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(350px, 2fr) 1fr 1fr;
    // gap: 20px;
    max-height: 500px;
    max-width: 350px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px rgba($color: #000000, $alpha: 0.3);
    overflow: hidden;

    .info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        gap: 10px;

        p {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        span {
            font-weight: 700;
        }
    }

    .options {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: skyblue;
        color: white;
        font-size: 16px;
        font-weight: 700;
        button:first-child {
            border-left: none;
            // justify-content: ;
        }
        button {
            color: inherit;
            font-size: inherit;
            font-weight: inherit;
            background-color: transparent;
            border: 0;
            border-left: 1px dashed rgba($color: #000000, $alpha: 0.2);
            transition: 0.3s all;
            
            &:hover {

                background-color: aqua;
            }
        }

        // &::after {
        //     position: absolute;
        //     content: "";
        //     width: 1px;
        //     height: 20px;
        //     background-color: red;

        // }
    }
    
    .image {
        position: relative;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        h3 {
            position: absolute;
            padding: 5px;
            font-size: 30px;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: rgba($color: #000000, $alpha: 0.4);
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    // outline: 1px solid blue;
}

.bottom-bar {
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.2);
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {

        background-color: skyblue;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        color: white;
        font-size: inherit;
        font-family: inherit;
        font-weight: 700;
        transition: 0.3s all;
        &:hover {
            background-color: gray;
        }
    }
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    // transition: 0.5 all;
    
    form {
        display: none;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        width: min(95%, 350px);
        box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.7);
        &.show {
            display: block;
            animation-name: openForm;
            animation-duration: 0.3s;
        }
        &.hidde {
            animation: closeForm 0.3s forwards ease-out;
        }
    }

    fieldset {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-color: rgba($color: #000000, $alpha: 0.3);
        border-radius: 10px;
        legend {
            font-weight: 700;
            font-size: 20px;
            text-align: center;
            padding: 0 6px;
            border-left: 1px solid rgba($color: #000000, $alpha: 0.3);
            border-right: 1px solid rgba($color: #000000, $alpha: 0.3);
        }
        button {
            background-color: skyblue;
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            color: white;
            font-size: inherit;
            font-family: inherit;
            font-weight: 700;
            transition: 0.3s all;

            &#closeModalBtn {
                background-color: red;
                &:hover {
                    background-color: black;
                }
            }
            &:hover {
                background-color: gray;
            }
        }
    }
    
    .form-item {
        display: flex;
        flex-direction: column;
        input, select {
            padding: 5px 3px;
            font-size: inherit;
            font-family: inherit;
        }
    }

    &.show {
        display: flex;
        animation: openModal 0.5s ease-out;
        // animation-name: openModal;
        // animation-duration: 0.5s;
        // animation-timing-function: ease-out;
    }
    &.hidde {
        animation: closeModal 0.3s forwards ease-out;
    }
    
}

@keyframes openModal {
    from {
        background-color: rgba($color: #000000, $alpha: 0);
    }
    to {
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
}
@keyframes openForm {
    from {
        transform: scale(25%);
    }
    to {
        transform: scale(100%);
    }
}
@keyframes closeModal {
    from {
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
    to {
        background-color: rgba($color: #000000, $alpha: 0);
    }
}
@keyframes closeForm {
    from {
        transform: scale(100%);
    }
    to {
        transform: scale(0%);
    }
}


